.token-select {
  min-width: 200px;
}

.token-option .ant-select-item-option-content {
  width: 100%;
  position: relative;

  .right {
    display: none;
    width: 22px;
    height: 22px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255);
  }
  .right:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .right:hover span {
    color: rgba(255, 255, 255);
  }
}

.token-option .ant-select-item-option-content:hover {
  .right {
    display: flex;
  }
}
