.name-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .icon-wrpper {
    padding: 10px;
    background-color: bisque;
    cursor: pointer;
  }
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .right {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 54px;
  }
}
